
.download-list-page-container{
    width: 100%;
    max-width: 894px;
    margin: 80px auto;
    /* border: 1px solid red; */
    padding: 0 15px;
}
.download-list-title-row{
    display: flex;
    justify-content: space-between;
}

.download-list-title-row button{
    width: 167px;
    height: 31px;
    padding: 8px 12px;
    border-radius: 8px;
background: #624DE3;    

}

.download-list-title{
    /* color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 100%;
    /* border: 1px solid red; */
    /* padding: 35px 35px; */

    color: #100F0F;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;

    margin-bottom: 20px;
}
table {
    border-collapse: collapse;
    width: 100%;
  }

.download-list-table-header{
    height: 50px;

}
/* .download-list-table-header th{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} */

 th {
    background: #FFF;;
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 8px;
  }



  tr:nth-child(even) {
    background: #F7F6FE;
  }

  @media screen and (max-width: 655px) {
    .download-list-th-quantity{
        display: none;
    }
  }

  @media screen and (max-width: 520px) {
    .download-list-th-time{
        display: none;
    }
    .download-list-title{
        font-size: 20px;
    }
    .download-list-td-date{
        font-size: 14px;
    }
  }