.admin-manage-request-row{
    height: 60px;
    border-bottom: 1px solid #ddd;
}

.admin-manage-request-row td button{
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 5px 2.5px 0px 2.5px;
}

.admin-manage-request-row td{
    text-align: left;
    padding: 8px;
}

.admin-manage-request-row-name{
    width: 180px;
}

.admin-manage-request-row-date{
    width: 190px;
}
.admin-manage-request-row-quantity{
    width: 150px;
}
.admin-manage-request-row-quantity div{
    text-align: center;
}

.admin-manage-request-row-status div{
    display: flex;
    justify-content: center;

}

.admin-manage-request-row-manage div{
    display: flex;
    justify-content: center;
    
}