
.input-tag-component{
    background-color: rgb(218, 216, 216);
    display: flex;
    padding: .2em .75em;
    border-radius: 20px;
    align-items: center;
    height: 23px;
    align-items: center;

    /* height: 100%;
    /* max-height: 25px; */
}

.input-tag-component span{
    font-size: 12px;;

}
.input-tag-component-close-btn{
    height: 15px;
    width: 15px;
    
    background-color: rgb(48, 48, 48);
    color: #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* margin: auto 0 auto .5em;  */
    margin-left: .5em;
    font-size: 15px;
    cursor: pointer;
    border: none;
}