.signup-container{
    max-width: 990px;
    margin: 0 auto;
    /* border: 1px solid #a21111; */

}

.signup-flex{
    display: flex;
    align-items: center;
    height: 90vh;
    /* border: 1px solid #a21111; */

}

.signup-img{
    max-width: 600px;
    width: auto;
    height: 100%;
    resize: horizontal;
    /* border: 1px solid #a21111; */

}

.signup-left-container{
    /* border: 1px solid blue; */
    width: 100%;
}
.signup-right-container{
    /* border: 1px solid green; */
    width: 100%;
}

.signup-title{
    color: #100F0F;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 30px;
}


.signup-form-container{
    
}

.signup-label{
    

}

.signup-label:after {
    content:" *";
    color: red;
  }

.signup-label-phone{

}
.signup-textfield{
    width: 306px;
    height: 55px;

    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    background: #FFF;

    font-size: 20px;

    padding-left: 20px;
    margin-bottom: 9px;
}

.signup-button-container{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 250px;
    width: 100%;
}

.signup-button-container a{
    font-size: 20px;
}

.signup-button{
    width: 113px;
    height: 55px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    flex-shrink: 0;
    border-radius: 10px;
    background: #252958;
    /* border: none; */
    border: 2px solid #252958; /* Adding a border with the same color as the background */
    transition: background 0.3s, border-color 0.3s, color 0.3s; /* For smooth transitions */
}


.signup-button:hover{
    background: #3B3B7A; /* Slightly lighter shade for hover */
    border-color: #FFF; /* Changing border color to white on hover */
    color: #FFF;/* Changing text color to the original background color */
    cursor: pointer; /* Change cursor to pointer on hover */
}

/* Reponsive Part */

@media only screen and (min-width:431px) and (max-width: 900px ) {
    
    .signup-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .signup-flex{
        max-width: 310px;
        
    }
    .signup-left-container{
        display: none;
    }

}

@media screen and (max-width: 480px) {
    .signup-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .signup-flex{
        padding-top: 70px;
        display: flex;
        align-items:baseline;
        height: 80vh;
        
    
    }

    .signup-left-container{
        display: none;
    }

    .signup-right-container{
        width: 100%;
        
        /* margin: 30px auto; */

    }

    .signup-title{
        font-size: 24px;
        margin-bottom: 15px;
    }

    .signup-textfield{
        width: 240px;
        height: 44px;
    
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.50);
        background: #FFF;
        font-size: 14px;
        padding-left: 20px;
    
        margin-bottom: 9px;
    }

    .signup-form-container{
        /* max-width: 250px; */
        /* border: 1px solid #a21111; */
    }

    .signup-button{
        width: 90px;
        height: 44px;
        font-size: 14px;
    }
    .signup-button-container a{
        font-size: 14px;
    }
}
