.admin-manage-problem-title-row{
    display: flex;
    justify-content: space-between;

}


.admin-manage-problem-title{
    /* color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 100%;
    /* border: 1px solid red; */
    /* padding: 35px 35px; */

    color: #100F0F;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;

    margin-bottom: 20px;
}

.admin-manage-problem-scroll-box{
    /* border: 1px solid red;s */
    width: 100%;
    height: 640px;
    overflow-y: scroll;
    overflow-x: hidden;
}
/* table */
.activity-table-header-topic-name{
    width: 170px;
}

.activity-table-header-time{
    width: 150px;
    /* border: 1px solid red; */

}

.admin-manage-problem-header-name{
    /* width: 30%; */
    width: 230px;
    /* border: 1px solid red; */
}
.admin-manage-problem-header-date{
    /* width: 30%; */
    width: 160px;
    /* border: 1px solid red; */
}

.admin-manage-problem-header-desc{
    /* width: 30%; */
    width: 250px;
    /* border: 1px solid red; */
}

.admin-manage-problem-header-status{
    text-align: center;
}

.admin-manage-problem-header-manage{
    text-align: center;
}