
.admin-download-request-table-scroll{
    margin-top: 20px;
    height: 640px;
    overflow-y: scroll;
}



/* for manage user page */
.admin-download-request-title-row{
    
}

.admin-download-request-table{
    /* margin-top: 20px; */
    
}

.request-header-requester-name{
    width: 180px;
}

.request-header-topic-quantity{
    text-align: center;
    /* width: 150px; */
    /* border: 1px solid salmon; */
}

.request-header-topic-status{
    text-align: center;
    /* width: 150px; */
    /* border: 1px solid salmon; */

}

.request-header-manage{
    text-align: center;
    /* width: 140px; */
    /* border: 1px solid salmon; */
}

.back-button {
    float: right; /* ย้ายปุ่มไปทางขวา */
    background: none;
    border: none;
    cursor: pointer;
  }
  
  /* เพิ่ม CSS สำหรับไอคอนของรูปภาพ */
  .back-icon {
    width: 20px; /* ปรับขนาดของไอคอนตามความต้องการ */
    height: 20px;
    margin-left: 5px; /* เพิ่มระยะห่างระหว่างปุ่มและไอคอน */
  }