/* for manage user page */
.admin-download-request-title-row{

}

.admin-download-request-table{
    margin-top: 20px;

}

.request-header-requester-name{
    width: 170px;
}

.request-header-topic-quantity{
    /* width: 150px; */
}

.request-header-manage{
    /* width: 140px; */
}

.back-button {
    float: right; /* ย้ายปุ่มไปทางขวา */
    background: none;
    border: none;
    cursor: pointer;
  }
  
  /* เพิ่ม CSS สำหรับไอคอนของรูปภาพ */
  .back-icon {
    width: 20px; /* ปรับขนาดของไอคอนตามความต้องการ */
    height: 20px;
    margin-left: 5px; /* เพิ่มระยะห่างระหว่างปุ่มและไอคอน */
  }