.edit-topic-bg-opacity{
    background: rgba(33, 48, 66, 0.40);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-topic-popup-box{
    width: 480px;
    padding: 30px 0;
    /* height: 600px; */
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
}


.edit-topic-popup-box-container{
    width: 100%;
    max-width: 385px;
    /* height: 360px; */
    /* border: 1px solid red; */
    margin: 0 auto;
}

.edit-topic-title-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: -20px;
}

.edit-topic-close-button{
    background-color: transparent;
    border: 0;
    font-size: 25px;
    cursor: pointer;
}

/* for everyone */
.edit-topic-popup-label{
    color: #000;
    /* font-family: Inter; */
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-bottom: 5px;

}

/* topic name and topic name input box */

.edit-topic-popup-topicname-row{
    margin-top: 20px;
}



.edit-topic-popup-topicname-input{
    width: 100%;
    height: 33px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    background: #FFF;
    padding-left: 10px;

}

/* topic description and input box */
.edit-topic-popup-topicdesc-row{
    margin-top: 5px;

}

.edit-topic-popup-topicdesc-input{
    width: 100% !important; 
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    background: #FFF;
    resize: none;
    padding-left: 10px;


}

/* topic side and input box */
.edit-topic-stance-row{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;

    
}

.edit-topic-stance{
    /* width: 50%; */
}
.edit-topic-popup-stance-input{
    width: 184px;
    height: 33px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    background: #FFF;
    /* border: 1px solid red; */
    padding-left: 10px;
}

/* tag row */
.input-tag-container{
    /* border: 2px solid #000; */
    /* padding: .5em; */
    border-radius: 3px;
    /* width: min(80vw, 600px); */
    margin-top: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5em;
    margin-bottom: 10px;
}


.edit-topic-tag-row{
    margin-top: 10px;
}

.edit-topic-tag-box{
    height: 20px;
}

.edit-topic-tag-box button{
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    fill: #FFF; 
    stroke-width: 1px;
    stroke: #000;
    border-radius: 64px;
    border: #000 1px solid;
}

/*  */
/* seach tag */
.edit-topic-search-tag-row{
    margin-bottom: 10px;
}
.edit-topic-popup-tagsearch-input{
    width: 184px;
    height: 33px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    background: #FFF;
    /* border: 1px solid red; */
    padding-left: 10px;
}

.tag-choice-drop-down {
    /* border: 1px solid red; */

    /* display: none; */
    position: absolute;
    min-width: 180px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    z-index: 1;
  }

.tag-choice-row{
    /* border: 1px solid red; */

    cursor: pointer;
    text-align: left;
    border: none;
    background: transparent;
    /* color: #808080; */
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 12px 12px;
    width: 100%;
    text-decoration: none;
    display: block;

}

.tag-choice-row-container{
    /* border: 1px solid red; */

    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding: 0 10px; */
}
.tag-choice-row-container input{
    /* border: 1px solid red; */

    margin-right: 10px;
}

/* button row */
.edit-topic-button-row{
    margin-top: 15px;
    display: flex;
    justify-content: center;

}

.edit-topic-confirm-button{
    cursor: pointer;
    width: 75px;
    height: 38px;
    border-radius: 10px;
    color: #fff;
    background: #252958;
    border: none;
    margin-right: 4px;
    transition: background-color 0.3s, color 0.3s;

}

.edit-topic-confirm-button:hover{
    background: #3B3B7A; /* Lighter shade of the original background color */
    color: #E0E0E0; /* A lighter shade for the text to ensure contrast */
}

.edit-topic-cancel-button{
    cursor: pointer;

    width: 75px;
    height: 38px;
    border-radius: 10px;
    color: #A30D11;
    background: #FBE7E8;
    border: none;
    margin-left: 4px;
    transition: background-color 0.3s, color 0.3s;

}

.edit-topic-cancel-button:hover{
    background: #FACDCD; /* A lighter shade of the original background color */
    color: #9D0F15; /* A darker shade of the original text color to maintain readability */
}


@media screen and (max-width: 450px){

    .edit-topic-popup-box{
        padding: 30px;
    }
    .edit-topic-stance-row{
        flex-direction: column;
        align-items: flex-start;
    }
    .edit-topic-stance{
        width: 100%;
        margin-bottom: 5px;
    }
    .edit-topic-popup-stance-input{
        width: 100%;
    }
}
