.admin-manage-activity-row{
    height: 60px;

}

.admin-manage-activity-topic-name{
    max-width: 140px;
    /* border: 1px solid red; */
    /* padding: 0px 5px 0 px; */
}

.admin-manage-activity-row td p{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 10px;
}


.admin-manage-activity-row td button{
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 5px 2.5px 0px 2.5px;
}
