.admin-manage-user-row{
    height: 60px;

}

.admin-manage-user-row td button{
    cursor: pointer;
    background: transparent;
    border: none;
    padding-top: 5px;
}

.admin-manage-user-row td{
    text-align: left;
    padding: 8px;
}
.admin-manage-user-row select{
    width: 110px;
    text-align: center;
    border: none;
    flex-shrink: 0;
    border-radius: 22px;
    background: #EBF9F1;
}