
/* meta data part */

.activity-component-meta-data-container{
    /* margin-top: 30px; */
    width: 100%;
    min-height: 180px;
    padding: 30px 40px;
    /* display: flex; */
    background: #FFF;
    border-radius: 10px;    
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
    position: relative;
}
.activity-component-meta-data-container:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.activity-component-meta-data-content{
    width: 100%;
    position: relative;
}
.activity-component-topic-name-row{
    display: flex;
    align-items:end;
    /* border: 1px solid red; */
}
.activity-component-topic-name{
    /* max-width: 400px; */
    color: #000;

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    /* line-height: 36px; */
}
.activity-component-icon{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.activity-component-creator-row{
    margin-top: 15px;

}
.activity-component-label{
    color: #2C343D;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px; /* 141.667% */
    margin-top: 15px;
    margin-bottom: 5px;
}

.activity-component-time-label{
    color: #2C343D;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px; /* 141.667% */
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 20px;
}



.activity-component-tag-container{
    margin-top: 15px;
    border-radius: 3px;
    /* margin-top: 15px; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5em;
    /* max-width: 400px; */

}

.activity-component-topic-creator-link{
    color: #2C343D;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px; /* 141.667% */
}

.activity-component-meta-data-right-content{
    width: 50%;
    /* border: 1px solid green; */
}
.activity-component-description-box{
    margin-top: 10px;
    width: 100%;
    /* overflow-y: auto; */
    max-height: 100px;
/* 
    overflow-wrap: break-word;
    overflow-y: auto; */

}

.activity-component-topic-description-title{
    /* color: #2C343D;
    font-size: 18px;      
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    margin-bottom: 5px;
    margin-top: 10px; */
}

.activity-component-topic-description{
    width: 100%;
    /* max-width: 320px; */
    font-size: 16px;
    color: #2C343D;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-top: 5px;
}



/* progression bar */

.activity-component-progress-bar-title{
    /* color: #2C343D;
    font-size: 14px;      
    font-style: normal;
    font-weight: 500;
    line-height: 17px;  */
    margin-top: 10px;
}
.activity-component-progress-bar-container{
    width: 100%;
    max-width: 200px;
    height: 10px;
    border-radius: 10px;
    background: #F2F2F2;
    margin-top: 10px;
    /* border: 1px solid red; */
}




.activity-component-legend-row{
    display: none;
    /* display: flex; */
    /* justify-content: space-between; */
    margin-top: 5px;
    
    width: 100%;
    /* max-width: 300px; */
    /* border: 1px solid red; */
}

.activity-component-legend-element{
    display: flex;
    width: 100%;
    max-width: 150px;
    /* border: 1px solid red;  */
}

.activity-component-legend-text{
    padding-left: 5px;
    color: #2C343D;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px; /* 141.667% */
}