.tag-component{
    background-color: #D4E5FA;
    display: flex;
    padding: .2em .75em;
    border-radius: 20px;
    align-items: center;
    height: 26px;
    align-items: center;
}
.tag-component-name{
    font-size: 13px;
    color: #225EAF;


}