.download-request-row{
    height: 60px;
    /* bo */
}

.download-request-row  td {
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 8px;
  }

.download-request-row:hover{
    /* background: #FFF; */
}

.download-request-row td button{

    cursor: pointer;
    background-color: transparent;
    border: none;

    margin: 5px;
}

@media screen and (max-width: 700px){
    .download-request-row-stance{
        display: none;
    }
  }

  @media screen and (max-width: 450px){
    .download-request-row-number{
        display: none;
    }
  }

